# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Sheep Protector
description: >- # this means to ignore newlines until "baseurl:"
  Development blog and archive for IGME 320 - Game Design and Development II at Rochester Institute of Technology
baseurl: "/SheepProtector"
url: "https://igme320theherd.github.io/SheepProtector/" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
remote_theme: zivong/jekyll-theme-hydure
#remote_theme: poole/hyde@v2.1.0
#remote_theme: yous/whiteglass@v1.11.7
plugins:
  - jekyll-remote-theme
  - jekyll-archives
  - jekyll-paginate
  - jekyll-sitemap

cover: https://www.transparenttextures.com/patterns/kuji.png

tags_path: /tags/
categories_path: /categories/

permalink: /:year/:month/:day/:title/
paginate_path: /posts/:num/
paginate: 5

jekyll-archives:
  enabled:
    - categories
    - tags
  layout: category_archives
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/