---
---

@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Patrick+Hand&family=Potta+One&display=swap');

:root{
    --body-font: 'Hubballi', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    --brand-title-font: 'Modak', serif!important;
    --heading-font: font-family: 'Patrick Hand', cursive!important;
    --subheading-font: font-family: 'Patrick Hand', cursive!important;
    --code-font: 'Courier New', Courier, monospace;
    --border-color: rgb(101, 90, 61) !important;
    --link-color: #3a7992 !important;
    --body-bg: #ece5da !important;
}

@media(prefers-color-scheme:dark){
    :root{
        --body-bg: #343434 !important;
    }
}

@import "hydure/main";

.sidebar{
    background-color: rgb(101, 90, 61);
    background-size: revert;
    background-position: center;
}

hr, .footer{
    border-top-style: dashed;
}

.main, .footer, .pure-g [class*="pure-u"]{
    font-family: 'Hubballi', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
}

a.brand-title{
    display: inline-block;
    font-family: 'Potta One', serif!important;
    text-align: right;

    &:hover{
        text-decoration: none!important;
    }
}

.page, .post{
    h1, h2, h3, h4, h5, h6{
        font-family: 'Patrick Hand', cursive!important;
        letter-spacing: 0.5px;
    }
}

.post-list-by-taxonomy{
    a{
        font-family: monospace;
    }

    time{
        font-family: var(--body-font)!important;
    }
}

.member-block {
    h3{
        margin-bottom:0.125em
    }
    
    span.position{
        color: var(--link-color);
        padding-left:0.5em;
        font-size:0.85em;
    }

    p{
        margin: 0;
    }
}

header nav .pure-menu-list{
    font-family: 'Patrick Hand', cursive!important;
    font-size: 1.5rem;
    text-align: right;

    a.pure-menu-link{
        padding:0.25em;
        transition: padding 0.3s ease-out;

        &:hover{
            padding-right: 0.75em;
            border-right: 3px solid;
            text-decoration: none;
        }
    }

    a.pure-menu-link.current{
        border-right: 3px solid;
        padding-right: 0.75em;
    }
}
